@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chewy', cursive;
    color: #252A34;
    font-size: large;
}


.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #252A34;
}

.App form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #08D9D6;
    padding: 30px;
    outline: 5px solid #08D9D6;
    outline-offset: 5px;
}

.App form label{
    margin-left: 10px;
}


.App form input[type='text'], .App form input[type='password'], .App form input[type='tel']{
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #252A34;
    margin: 5px;
    width: 250px;
}

.App form input[type='text']:focus, .App form input[type='password']:focus, .App form input[type='tel']:focus{
    outline: none;
    border-bottom-color: #FF2E63;
}

.App form p{
    color: #FF2E63;
    font-size: small;
    margin: 10px;
    z-index: 1;
}

.App form input[type='submit']{
    background-color: #252A34;
    color: #08D9D6;
    padding: 5px;
    border: none;
    margin: 10px;
}
.App form input[type='submit']:hover{
    background-color: #FF2E63;
    color: #252A34;
}
